/* CSS */
.rebel-button {
    background-color: #fcd64b;
    border: 2px solid #120437;
    border-radius: 30px;
    box-shadow: #120437 4px 4px 0 0;
    color: #120437;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    font-size: 18px;
    padding: 0 18px;
    line-height: 50px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.15s ease-out;
  }
  
  .rebel-button:hover {
    background-color: #521ee3;
    color:#ffffff
  }
  
  .rebel-button:active {
    box-shadow: #120437 2px 2px 0 0;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .rebel-button {
      min-width: 120px;
      padding: 0 25px;
    }
  }